@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

main {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

main div {
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input#submit {
  margin: 30px 0;
  background-color: rgb(60, 60, 60);
  cursor: pointer;
  transition: background-color .3s;
}

input#submit:hover {
  background-color: rgb(45, 45, 45);
}

textarea#output-num {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  display: block;
  overflow: auto;
  padding: 10px 15px;
  resize: vertical;
  width: 100%;
}

select, input {
  height: 30px;
  width: 200px;
}

select, input, textarea#output-num {
  border-radius: 10px;
  background-color: #666666;
  color: white;
}

select {
  padding: 0 10px;
}

input, span#output-num {
  text-align: center;
}

body, select, input {
  font-size: 17px;
  border: none;
}

main div span {
  text-align: center;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

input:focus, select:focus {
  outline: none !important;
  border: 1px solid #ff7300;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

@media (min-width: 768px) {
  span#output-num {
    height: 60px;

  }
}

@media (max-width: 385px) {
  main {
    width: 90%;
  }

  main div span {
    width: 120px;
  }
}